html{
    font-family: "Rubik", sans-serif;
    font-size: 100%;
    background-color: white;
	color: hsl(20 3% 19%);
}

body {
	block-size: 100%;
	padding: 5vw;

}

h2, h3 {
	align-self: center;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1;
	display: grid;
  color: hsl(20 3% 19%);
}

h2 {
  text-transform: uppercase;
}

h3 {

}

a {
	color: hsl(20 3% 19%);
  text-decoration: none
}
